<!DOCTYPE html>
<!-- DO NOT USE HTML TEMPLATING HERE -->
<!-- this page is loaded via appengine, not from within the app -->
<!-- templates will not know how to build -->
<html>
	<head>
		<title>Charge Credit Cards</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
		<link rel="stylesheet" href="/css/styles.min.css">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1">
						<div class="pull-left">
							<h4 id="header-title">Charge Credit Cards</h4>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title">App Engine Error</h3>
						</div>
						<div class="panel-body">
							<div class="info info-no-border">
								<p>App Engine encountered an unknown error.  Please contact an administrator.</p>

								<p>Administrators: please log in to the Google Cloud Developer's Console with the user account that controls this app. Investigate the Logs for errors that are causing this app to fail.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="sticky">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<p><a href="https://github.com/coreymgilmore/stripe-appengine-frontend" target="_blank">&copy; Charge Credit Cards <span id="copyright-year"></span></a></p>
					</div>
				</div>
			</div>
		</footer>
	<body>
</body>
