{{define "header"}}
<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<div class="pull-left">
					<h4 id="header-title">Charge Credit Cards</h4>
				</div>
				<div class="pull-right">
					<div class="btn-group navbar-btn">
						<!-- SHOW LOGGED IN USER -->
						<!-- hovering over icon shows the logged in user's username in a tooltip -->
						<!-- clicking on the icon makes the tooltip stay visible -->
						<button class="btn btn-default" id="username" data-toggle="tooltip" data-placement="bottom" data-trigger="hover click" title="{{.UserData.Username}}"><span class="glyphicon glyphicon-user"></span></button>
						<a class="btn btn-default" id="btn-logout" href="/logout/">Logout</a>
					</button>
				</div>
			</div>
		</div>
	</div>
</header>
{{end}}

{{define "header-without-btns"}}
<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<div class="pull-left">
					<h4 id="header-title">Charge Credit Cards</h4>
				</div>
			</div>
		</div>
	</div>
</header>
{{end}}