{{define "html_scripts"}}

{{/*Serve js form local files or cdn.*/}}
{{if .Configuration.UseLocalFiles}}
<script src="/static/js/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{{else}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{{end}}

<script src="/static/js/script.min.js" type="text/javascript"></script>
{{end}}


{{define "stripe-js"}}
{{/*ONLY USED ON PAGES THAT REQUIRE STRIPE.js*/}}
{{/*so stripe.js isn't loaded everywhere*/}}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
{{end}}
