<!DOCTYPE html>
<html>
	<head>
		{{template "html_head"}}
	</head>
	<body>
		<!-- HEADER -->
		{{template "header-without-btns"}}	

		<!-- LOGIN FORM -->
		<div class="container">
			<div class="row" id="panels-row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<div class="panel panel-default login">
						<div class="panel-heading">
							<h3 class="panel-title">Please Log In</h3>
						</div>
						<div class="panel-body">
							<form id="login" method="post" action="/login/">
								<div class="form-group">
									<label class="control-label">Username: </label>
									<input class="form-control" id="username" name="username" type="text" required autocomplete="off">
								</div>
								<div class="form-group">
									<label class="control-label">Password: </label>
									<input class="form-control" id="password" name="password" type="password" required autocomplete="off">
								</div>
							</form>
						</div>
						<div class="panel-footer">
							<div class="form-group">
								<button class="btn btn-primary" id="submit" name="submit" form="login" type="submit">Log in</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{template "footer"}}
		{{template "html_scripts"}}
	<body>
</body>