{{$showDevHeader := .Configuration.Development}}
{{$canCharge := .Data.UserData.ChargeCards}}
{{$timezoneGUI := .Data.ReportGUITimezone}}
{{$charges := .Data.Charges}}
{{$numCharges := .Data.NumCharges}}
{{$totalCharged := .Data.TotalCharges}}
{{$totalChargedLessFees := .Data.TotalChargesLessFees}}
{{$refunds := .Data.Refunds}}
{{$numRefunds := .Data.NumRefunds}}
{{$totalRefunded := .Data.TotalRefunds}}

<!DOCTYPE html>
<html>
	<head>
		{{template "html_head" .}}
	</head>
	<body>
		{{if $showDevHeader}}
			<p class="text-center text-danger">!! DEV MODE !!</p>
		{{end}}

		<!-- NO HEADER OR FOOTER TO MAKE PRINTING EASIER -->

		<div class="container">
			<div class="row" id="reports-row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading panel-heading-with-buttons">
							<h3 class="panel-title">Charges</h3>
							<div class="btn-group pull-right hidden-print">
								<a class="btn btn-default btn-sm" href="https://dashboard.stripe.com/payouts/overview" title="You will need to log in to the Stripe Dashboard." target="_blank">Payouts</a>
								<a class="btn btn-default btn-sm" href="https://dashboard.stripe.com/payments" title="You will need to log in to the Stripe Dashboard." target="_blank">Payments</a>
							</div>
						</div>
						<div class="panel-body">					
							<div class="table-responsive">
								<table class="table table-hover table-condensed">
									<thead>
										<tr>
											<th>Customer Name</th>
											<th>Card Ending</th>
											<th class="charge-amount-column">Amount Charged</th>
											<th>Invoice</th>
											<th>User</th>
											<th>Timestamp <small class="text-muted">({{$timezoneGUI}})</small></th>
											<th class="text-center hidden-print">Receipt</th>
											<th class="text-center hidden-print">Refund</th>
										</tr>
									</thead>
									<tbody id="report-rows">
										{{if $charges}}
											{{range $charges}}
												{{/*ONLY SHOW ROWS WHERE CHARGES WERE CAPTURED*/}}
												{{if eq .Captured true}}
													<tr>
														<td>{{.Customer}}</td>
														<td>{{.LastFour}}</td>
														<td class="amount-dollars charge-amount-column"><span class="currency-symbol">$</span><span class="amount format-number-commas">{{.AmountDollars}}</span></td>
														<td>{{.Invoice}}</td>
														<td>
															{{if .AutoCharge}}
																{{.User}} - {{.AutoChargeReason}}
															{{else if eq .User "api"}}
																{{.User}} - {{.AutoChargeReason}}
															{{else}}
																{{.User}}
															{{end}}
														</td>
														<td>{{.Timestamp}}</td>
														<td class="text-center hidden-print"><a class="receipt" href="/card/receipt/?chg_id={{.ID}}" target="_blank"><span class="glyphicon glyphicon-briefcase"></span></a></td>
														
														{{ if $canCharge }}
														<td class="text-center hidden-print"><a class="refund" id="open-modal-refund" data-toggle="modal" data-target="#modal-refund" data-chgid="{{.ID}}"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
														{{else}}
														<td></td>
														{{end}}
													</tr>
												{{end}}
											{{end}}
										{{else}}
											<tr>
												<td colspan="100">No charges found.</td>
											</tr>
										{{end}}
									</tbody>

									{{if gt $numCharges 0}}
									<tfoot>
										<tr>
											<td>
												<b>Total Amount Charged:</b>
												<br>
												Total Less Fees:
												<br>
												({{$numCharges}} Charges)
											</td>
											<td></td>
											<td class="charge-amount-column">
												<b>$<span class="amount format-number-commas">{{$totalCharged}}</span></b><br>
												$<span class="amount format-number-commas">{{$totalChargedLessFees}}</span>
											</td>
											<td></td>
											<td></td>
											<td></td>
											<td class="hidden-print"></td>
											<td class="hidden-print"></td>
										</tr>
									</tfoot>
									{{end}}
								</table>
								<i class="text-muted">*There might be a few cents difference between the "Total Less Fees" and the amount you will see on the Stripe Dashboard.  This is due to rounding.</i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row" id="reports-row-refunds">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Refunds</h3>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-hover table-condensed">
									<thead>
										<tr>
											<th>Customer Name</th>
											<th>Card Ending</th>
											<th class="charge-amount-column">Amount Refunded</th>
											<th>Invoice</th>
											<th>User</th>
											<th>Timestamp </th>
											<th>Reason</th>
										</tr>
									</thead>
									<tbody id="report-rows">
										{{if $refunds}}
											{{range $refunds}}
												<tr>
													<td>{{.Customer}}</td>
													<td>{{.LastFour}}</td>
													<td class="amount-dollars charge-amount-column">
														<span class="currency-symbol">$</span><span class="amount format-number-commas">{{.AmountDollars}}</span>
													</td>
													<td>{{.Invoice}}</td>
													<td>{{.User}}
													<td>{{.Timestamp}}</td>
													<td>{{.Reason}}</td>
												</tr>
											{{end}}
										{{else}}
											<tr>
												<td colspan="100">No refunds found.</td>
											</tr>
										{{end}}
									</tbody>

									{{if gt $numRefunds 0}}
									<tfoot>
										<tr>
											<td>
												<b>Total Amount Refunded:</b>
												<br>
												({{$numRefunds}} Refunds)
											</td>
											<td></td>
											<td class="charge-amount-column">
												<b>$<span class="amount format-number-commas">{{$totalRefunded}}</span></b><br>
											</td>
											<td></td>
											<td></td>
											<td></td>
											<td class="hidden-print"></td>
											<td class="hidden-print"></td>
										</tr>
									</tfoot>
									{{end}}
								</table>
								<i class="text-muted">*Cannot calculate refunds less fees because we do not know if a refund was in full or partial and which refund (if more than one refund for a charge) the fixed fee was refunded with.</i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- REFUND MODAL -->
		{{if $canCharge}}
		<div class="modal fade" id="modal-refund">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Refund Charge</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" id="form-refund">
							<div class="form-group">
								<label class="control-label col-sm-3">Amount:</label>
								<div class="col-sm-8">
									<input class="form-control" id="refund-amount" name="amount" type="number" min="0" max="" step="0.01" placeholder="The amount to refund." required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Reason:</label>
								<div class="col-sm-8">
									<select class="form-control" id="refund-reason" name="reason">
										<option value="0">Other/Unknown</option>
										<option value="duplicate">Duplicate Charge</option>
										<option value="requested_by_customer">Customer Request</option>
										<option value="fraudulent">Fraudulent</option>
									</select>
								</div>
							</div>
							<div class="msg"></div>
							<input id="refund-chg-id" name="charge-id" type="hidden">
						</form>
					</div>
					<div class="msg"></div>
					<div class="modal-footer">
						<div class="btn-group">
							<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
							<button class="btn btn-primary" id="refund-submit" type="submit" form="form-refund">Refund</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{end}}

		{{template "html_scripts" .}}

		<!-- FORMAT ALL NUMBERS WITH COMMAS -->
		<!-- aka thousands separators -->
		<script>
			$('.format-number-commas').each(function() {
				//GET VALUE FROM SPAN
				var value = parseFloat($(this).text());

				//FORMAT
				var commaString = value.toLocaleString('en-US', {minimumFractionDigits: 2});

				//SET TEXT WITH NEW FORMAT
				$(this).text(commaString);

				return;
			});
		</script>

	<body>
</body>