<!DOCTYPE html>
<html>
	<head>
		{{template "html_head"}}
	</head>
	<body>
		{{template "header" . }}

		<!-- ELEMENT FOR HOLDING LIST OF CUSTOMER NAMES -->
		<!-- placed here since it is used in a few places for a few inputs and some inputs are removed based on user permissions -->
		<datalist id="customer-list">
			<option value="None">None</option>
		</datalist>

		<div class="container">
			<!-- NAV BAR -->
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1">
					<center>
						<div class="btn-group" id="nav-buttons" data-toggle="buttons">
							{{/*ONLY USERS WITH CORRECT ACCESS RIGHTS CAN VIEW CERTAIN ACTION PANELS*/}}
							{{/*hide the buttons to panels the user does not have access to*/}}
							{{if .UserData.AddCards}}
							<label class="btn btn-default action-btn" data-action="panel-add-card">
								<input type="radio">Add
							</label>
							{{end}}
							{{if .UserData.RemoveCards}}
							<label class="btn btn-default action-btn" data-action="panel-remove-card">
								<input type="radio">Remove
							</label>
							{{end}}
							{{if .UserData.ChargeCards}}
							<label class="btn btn-default action-btn active" data-action="panel-charge-card">
								<input type="radio" checked>Charge
							</label>
							{{end}}
							{{if .UserData.ViewReports}}
							<label class="btn btn-default action-btn" data-action="panel-reports">
								<input type="radio">Reports
							</label>
							{{end}}
							{{if .UserData.Administrator}}
							<label class="btn btn-default action-btn" data-action="panel-settings">
								<input type="radio">Settings
							</label>
							{{end}}
						</div>
					</center>
				</div>
			</div>

			<!-- ADD, REMOVE, CHARGE, REPORTS, SETTINGSS PANELS -->
			<div class="row" id="panels-row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4" id="action-panels-container">
					{{/*HIDE ACTION PANELS FOR USERS THAT DO NOT HAVE ACCESS RIGHTS*/}}
					{{/*same as hiding buttons in nav, but hide the panels so the user cannot see the panels in the code*/}}

					{{if .UserData.AddCards}}
					<!-- ADD NEW CUSTOMER/CARD -->
					<div class="panel panel-default action-panels" id="panel-add-card">
						<div class="panel-heading">
							<h3 class="panel-title">Add a New Card</h3>
						</div>
						<div class="panel-body">
							<form id="add-card">
								<div class="form-group">
									<label class="control-label">Customer ID <small>(optional)</small>: </label>
									<input class="form-control" id="customer-id" type="text" placeholder="A unique identifier." autocomplete="off">
								</div>
								<div class="form-group">
									<label class="control-label">Customer Name: </label>
									<input class="form-control" id="customer-name" type="text" placeholder="ABC Corp., John Smith" required autocomplete="off">
								</div>
								<div class="form-group">
									<label class="control-label">Cardholder: </label>
									<input class="form-control" id="cardholder-name" type="text" placeholder="The name on the card." required autocomplete="off">
								</div>
								<div class="form-group">
									<label class="control-label">Card Number: </label>
									<input class="form-control disable-spinner" id="card-number" type="number" min="0" step="1" placeholder="The credit card number." required autocomplete="off">
								</div>
								<div class="form-group">
									<label class="control-label">Expiration Month: </label>
									<select class="form-control" id="card-exp-month">
										<option value="0">Please choose.</option>
										<option value="01">01 - January</option>
										<option value="02">02 - February</option>
										<option value="03">03 - March</option>
										<option value="04">04 - April</option>
										<option value="05">05 - May</option>
										<option value="06">06 - June</option>
										<option value="07">07 - July</option>
										<option value="08">08 - August</option>
										<option value="09">09 - September</option>
										<option value="10">10 - October</option>
										<option value="11">11 - November</option>
										<option value="12">12 - Decemeber</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">Expiration Year: </label>
									<select class="form-control" id="card-exp-year">
										<option value="0">Loading...</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">Security Code: </label>
									<input class="form-control disable-spinner" id="card-cvc" type="number" min="0" max="9999" step="1" placeholder="3, or 4 digits on the card's back." required>
								</div>
								<div class="form-group">
									<label class="control-label">Billing Postal Code: </label>
									<input class="form-control disable-spinner" id="card-postal-code" type="text" maxlength="6" required autocomplete="off">
								</div>
								<div class="msg"></div>
								<div class="form-group">
									<div class="btn-group">
										<button class="btn btn-primary submit-form-btn" type="submit">Add</button>
										<button class="btn btn-default clear-form-btn" type="button">Clear</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					{{end}}

					{{if .UserData.RemoveCards}}
					<!-- REMOVE CUSTOMER/CARD -->
					<div class="panel panel-default action-panels" id="panel-remove-card">
						<div class="panel-heading">
							<h3 class="panel-title">Remove a Card</h3>
						</div>
						<div class="panel-body">
							<div class="info">
								<p>Please provide the "Customer Name" of the card you want to remove.</p>
							</div>

							<form id="remove-card">
								<div class="form-group">
									<label class="control-label">Customer Name: </label>
									<input class="form-control customer-name" type="list" list="customer-list" required>
								</div>
								<div class="msg"></div>
								<div class="form-group">
									<input class="btn btn-danger submit-form-btn" name="submit" type="submit" value="Remove" required>
								</div>
							</form>
						</div>
					</div>
					{{end}}

					{{if .UserData.ChargeCards}}
					<!-- CHARGE A CARD -->
					<div class="panel panel-default action-panels show" id="panel-charge-card">
						<div class="panel-heading">
							<h3 class="panel-title">Charge a Card</h3>
						</div>
						<div class="panel-body">
							<form id="charge-card">
								<div class="form-group">
									<label class="control-label">Customer Name: </label>
									<div class="input-group">
										<input class="form-control customer-name" type="list" list="customer-list" required value="{{.CardData.CustomerName}}">
										<span class="input-group-btn">
											<button class="btn btn-primary" type="button">Go</button>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">Cardholder: </label>
									<input class="form-control customer-cardholder" readonly tabindex="-1" value="{{.CardData.Cardholder}}">
								</div>
								<div class="form-group">
									<label class="control-label">Last Four: </label>
									<input class="form-control card-last-four" readonly tabindex="-1" value="{{.CardData.CardLast4}}">
								</div>
								<div class="form-group">
									<label class="control-label">Expiration: </label>
									<input class="form-control card-expiration" readonly tabindex="-1" value="{{.CardData.CardExpiration}}">
								</div>
								<hr class="hr-panel">
								
								<div class="form-group">
									<label class="control-label">Amount: </label>
									{{/*NEED {{if}}{{end}} TO CHECK IF .Amount IS SET*/}}
									{{/*defaults to 0 (zero) but do not want to show this since there is a placeholder*/}}
									<input class="form-control charge-amount" type="number" min="0.50" max="100000" step="0.01" placeholder="$1.00" required disabled value="{{if .Amount}}{{.Amount}}{{end}}">
								</div>
								<div class="form-group">
									<label class="control-label">Invoice Number <small>(optional)</small>: </label>
									<input class="form-control charge-invoice" type="text" disabled value="{{.Invoice}}">
								</div>
								<div class="form-group">
									<label class="control-label">PO Number <small>(optional)</small>: </label>
									<input class="form-control charge-po" type="text" disabled value="{{.Po}}">
								</div>
								<div class="msg">
									{{if .Error}}
										<div class="alert alert-info">{{.Error}}</div>
									{{end}}
								</div>
								<div class="form-group">
									<div class="btn-group">
										<button class="btn btn-primary" id="charge-card-submit" type="submit" required>Charge</button>
										<button class="btn btn-default clear-form-btn" type="button">Clear</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="panel panel-success action-panels" id="panel-charge-success">
						<div class="panel-heading">
							<h3 class="panel-title">Charge Successful!</h3>
						</div>
						<div class="panel-body">
							<dl class="dl-horizontal" id="charge-success-info">
								<dt>Customer:</dt>
								<dd class="customer-name"></dd>
								<dt>Cardholder:</dt>
								<dd class="cardholder"></dd>
								<dt>Card #:</dt>
								<dd class="card-last4"></dd>
								<dt>Expiration:</dt>
								<dd class="card-exp"></dd>
								<dt>Amount:</dt>
								<dd class="amount"></dd>
								<dt>Invoice:</dt>
								<dd class="invoice"></dd>
								<dt>PO:</dt>
								<dd class="po"></dd>
							</dl>
							<hr class="hr-panel">
							<a class="btn btn-default" id="show-receipt" href="/receipt/?" target="_blank">Show Receipt</a>
						</div>
					</div>

					{{else}}
					{{/*need this panel as an "else" because this is the default panel*/}}
					<div class="panel panel-default action-panels show charge-card-no-access" id="panel-charge-card">
						<div class="panel-heading">
							<h3 class="panel-title">Task Selector</h3>
						</div>
						<div class="panel-body">
							<p>Please choose a task from the navigation bar above.  If you do not see any options under the grey header, then the administrator did not give you access to add, remove, or charge cards.  Please contact an administrator and ask them to give you the correct permissions.</p>
						</div>
					</div>
					{{end}}

					{{if .UserData.ViewReports}}
					<!-- REPORTS -->
					<div class="panel panel-default action-panels" id="panel-reports" >
						<div class="panel-heading">
							<h3 class="panel-title">View Reports</h3>
						</div>
						<div class="panel-body">
							<form id="reports" method="GET" action="/card/report/" target="_blank">
								<div class="form-group">
									<label class="control-label">Customer Name: </label>
									<datalist id="customer-ids">
										<option value="None">None</option>
									</datalist>
									<input class="form-control customer-name" type="list" list="customer-list">
								</div>
								<div class="form-group">
									<label class="control-label">Start Date: </label>
									<input class="form-control start-date" name="start-date" type="date" required>
								</div>
								<div class="form-group">
									<label class="control-label">End Date: </label>
									<input class="form-control end-date" name="end-date" type="date" required>
								</div>
								<div class="msg"></div>
								<div class="form-group">
									<input id="report-customer-id" type="hidden" name="customer-id">
									<input id="timezone" type="hidden" name="timezone">
									<input class="btn btn-primary" id="reports-submit" type="submit" value="View">
								</div>
							</form>
						</div>
					</div>
					{{end}}

					{{if .UserData.Administrator}}
					<!-- SETTINGS -->
					<div class="panel panel-default action-panels" id="panel-settings" >
						<div class="panel-heading">
							<h3 class="panel-title">Settings</h3>
						</div>
						<div class="panel-body">
							<h5>Add a New User</h5>
							<button class="btn btn-primary pull-center" id="open-modal-new-user" data-toggle="modal" data-target="#modal-new-user">Go</button>
							<hr class="hr-panel">

							<h5>Change a User's Password</h5>
							<button class="btn btn-primary pull-center" id="open-modal-change-pwd" data-toggle="modal" data-target="#modal-change-pwd">Go</button>
							<hr class="hr-panel">

							<h5>Update User's Access Rights</h5>
							<button class="btn btn-primary pull-center" id="open-modal-update-user" data-toggle="modal" data-target="#modal-update-user">Go</button>
						</div>
					</div>
					{{end}}

				</div>
			</div>

		</div>

		{{/*ONLY ADMINS CAN SEE MODALS SINCE THESE ARE FOR THE "SETTINGS" NAV BUTTON/PANEL*/}}
		{{if .UserData.Administrator}}

		<!-- MODALS -->
		<!-- NEW USER -->
		<div class="modal fade" id="modal-new-user">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Add a New User</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" id="form-new-user">
							<div class="form-group">
								<label class="control-label col-sm-3">Username:</label>
								<div class="col-sm-8">
									<input class="form-control username" type="email" placeholder="Email address." required autocomplete="off">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Password:</label>
								<div class="col-sm-8">
									<input class="form-control password1" type="password" placeholder="Min. 8 Characters." required autocomplete="off">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Password (again):</label>
								<div class="col-sm-8">
									<input class="form-control password2" type="password" required autocomplete="off">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Add Cards?:</label>
								<div class="col-sm-8">
									<div class="btn-group can-add-cards" data-toggle="buttons">
										<label class="btn btn-default">
											<input class="radio-yes" type="radio" name="can-add-cards" value="true">Yes
										</label>
										<label class="btn btn-default active">
											<input class="radio-no default" type="radio" name="can-add-cards" value="false" checked>No
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Remove Cards?:</label>
								<div class="col-sm-8">
									<div class="btn-group can-remove-cards" data-toggle="buttons">
										<label class="btn btn-default">
											<input class="radio-yes" type="radio" name="can-remove-cards" value="true">Yes
										</label>
										<label class="btn btn-default active">
											<input class="radio-no default" type="radio" name="can-remove-cards" value="false" checked>No
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Charge Cards?:</label>
								<div class="col-sm-8">
									<div class="btn-group can-charge-cards" data-toggle="buttons">
										<label class="btn btn-default">
											<input class="radio-yes" type="radio" name="can-charge-cards" value="true">Yes
										</label>
										<label class="btn btn-default active">
											<input class="radio-no default" type="radio" name="can-charge-cards" value="false" checked>No
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">View Reports?:</label>
								<div class="col-sm-8">
									<div class="btn-group can-view-reports" data-toggle="buttons">
										<label class="btn btn-default">
											<input class="radio-yes" type="radio" name="can-view-reports" value="true">Yes
										</label>
										<label class="btn btn-default active">
											<input class="radio-no default" type="radio" name="can-view-reports" value="false" checked>No
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Administrator?:</label>
								<div class="col-sm-8">
									<div class="btn-group is-admin" data-toggle="buttons">
										<label class="btn btn-default">
											<input class="radio-yes" type="radio" name="is-admin" value="true">Yes
										</label>
										<label class="btn btn-default active">
											<input class="radio-no default" type="radio" name="is-admin" value="false" checked>No
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Allowed Access?:</label>
								<div class="col-sm-8">
									<div class="btn-group is-active" data-toggle="buttons">
										<label class="btn btn-default active">
											<input class="radio-yes default" type="radio" name="is-active" value="true" checked>Yes
										</label>
										<label class="btn btn-default">
											<input class="radio-no" type="radio" name="is-active" value="false">No
										</label>
									</div>
								</div>
							</div>
							<div class="msg"></div>
						</form>
					</div>
					<div class="modal-footer">
						<div class="btn-group">
							<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
							<button class="btn btn-primary" id="form-new-user-submit" type="submit" form="form-new-user">Add User</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- CHANGE A USER'S PASSWORD -->
		<div class="modal fade" id="modal-change-pwd">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Change Password</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" id="form-change-pwd" method="POST" action="">
							<div class="form-group">
								<label class="control-label col-sm-3">Username:</label>
								<div class="col-sm-8">
									<select class="form-control user-list">
										<option value="0">Please choose...</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Password:</label>
								<div class="col-sm-8">
									<input class="form-control password1" type="password" placeholder="Min. 8 Characters." required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Password (again):</label>
								<div class="col-sm-8">
									<input class="form-control password2" type="password" required>
								</div>
							</div>
							<div class="msg"></div>
						</form>
					</div>
					<div class="msg"></div>
					<div class="modal-footer">
						<div class="btn-group">
							<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
							<button class="btn btn-primary" id="change-password-submit" type="submit" form="form-change-pwd">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- UPDATE A USER'S ACCESS RIGHTS -->
		<div class="modal fade" id="modal-update-user">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Update a User</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" id="form-update-user" method="POST" action="">
							<div class="form-group">
								<label class="control-label col-sm-3">Username:</label>
								<div class="col-sm-8">
									<select class="form-control user-list">
										<option value="0">Please choose...</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Add Cards?:</label>
								<div class="col-sm-8">
									<div class="btn-group can-add-cards" data-toggle="buttons">
										<label class="btn btn-default" disabled>
											<input class="radio-yes" type="radio" name="can-add-cards" value="true" disabled>Yes
										</label>
										<label class="btn btn-default" disabled>
											<input class="radio-no" type="radio" name="can-add-cards" value="false" disabled>No
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Remove Cards?:</label>
								<div class="col-sm-8">
									<div class="btn-group can-remove-cards" data-toggle="buttons">
										<label class="btn btn-default" disabled>
											<input class="radio-yes" type="radio" name="can-remove-cards" value="true" disabled>Yes
										</label>
										<label class="btn btn-default" disabled>
											<input class="radio-no" type="radio" name="can-remove-cards" value="false" disabled>No
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Charge Cards?:</label>
								<div class="col-sm-8">
									<div class="btn-group can-charge-cards" data-toggle="buttons">
										<label class="btn btn-default" disabled>
											<input class="radio-yes" type="radio" name="can-charge-cards" value="true" disabled>Yes
										</label>
										<label class="btn btn-default" disabled>
											<input class="radio-no" type="radio" name="can-charge-cards" value="false" disabled>No
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">View Reports?:</label>
								<div class="col-sm-8">
									<div class="btn-group can-view-reports" data-toggle="buttons">
										<label class="btn btn-default" disabled>
											<input class="radio-yes" type="radio" name="can-view-reports" value="true" disabled>Yes
										</label>
										<label class="btn btn-default" disabled>
											<input class="radio-no" type="radio" name="can-view-reports" value="false" disabled>No
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Administrator?:</label>
								<div class="col-sm-8">
									<div class="btn-group is-admin" data-toggle="buttons">
										<label class="btn btn-default" disabled>
											<input class="radio-yes" type="radio" name="is-admin" value="true" disabled>Yes
										</label>
										<label class="btn btn-default" disabled>
											<input class="radio-no" type="radio" name="is-admin" value="false" disabled>No
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">Allowed Access?:</label>
								<div class="col-sm-8">
									<div class="btn-group is-active" data-toggle="buttons">
										<label class="btn btn-default" disabled>
											<input class="radio-yes" type="radio" name="is-active" value="true" disabled>Yes
										</label>
										<label class="btn btn-default" disabled>
											<input class="radio-no" type="radio" name="is-active" value="false" disabled>No
										</label>
									</div>
								</div>
							</div>
							<div class="msg"></div>
						</form>
					</div>
					<div class="modal-footer">
						<div class="btn-group">
							<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
							<button class="btn btn-primary" id="update-user-submit" type="submit" form="form-update-user" disabled>Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{end}}

		{{template "footer"}}
		{{template "stripe-js"}}
		{{template "html_scripts"}}

		<!-- SCRIPTS TO RUN ON PAGE LOAD -->
		<script>
			generateExpirationYears();
			getCards();
		</script>
	<body>
</body>